/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; */

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
  /* border: 1px solid blue; */
}

html,
body {
  height: auto%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

* {
  box-sizing: border-box;
  border: 1px solid red;
}


/* BODY */

.container {
  width: 1000px;
  margin: 0 auto;
}

/* NAV & ICON SECTION */


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: auto;
}

.logo {
  height: 40px;
  width: 190px;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 24px;
}
a:hover {
  text-decoration: none;
  color: black;
  font-size: 34px;


/* TITLE & ROUND IMAGE SECTION */

.container-top {
  display: flex; 
  
  

}

.title {
  text-align: center;
  font-size: 65px;
  letter-spacing: 5px;
  /* width: 40%; */
}

.main-image {	
	height: 19rem;
margin:0 auto;
}

.main-header{
  display: flex;
  vertical-align: middle;
  margin: auto;
}

button {
  font-size: 20px;
  vertical-align: middle;
  width: 11rem;
  background-color: white;
}



/* INFO  & LONG IMAGE SECTION*/

.long-img{
  width: 50rem;
}

.info1{
	display: flex;
  text-align: left;

  width: auto;
  font-size: 22px;
}

.info2  {
  display: flex;
  text-align: left;
  width: auto;
  margin:auto;
  font-size: 22px;
}
.info2 {
  border-bottom: 1px solid black;
}

.info1 {
  border-top: 1px solid black;
}

/* FOOTER SECTION */

.contact-bottom {
  /* border: 1px solid red; */
  width: 22%;
}

.copyright {
  /* border: 1px solid red; */
  text-align: center;
  margin: 4rem;
}
