html,
body {
  height: auto%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

* {
  box-sizing: border-box;
  border: 1px solid red;
}

.container {
    width: 1000px;
    margin:0 auto;

}

/* NAVIGATION SECTION */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin:0 auto;
    height: 5rem;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    height:60px;
    width: auto;
}

.logo {
    height:auto;
}


